<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Try</title>
</head>
<body>
<form action="" method="POST">
  <label for="POST-name">Nombre:</label>
  <input id="POST-name" type="text" name="name">

  <label for="POST-name">Mail:</label>
  <input id="POST-name" type="text" name="mail">

  <label for="POST-name">Pass:</label>
  <input id="POST-name" type="password" name="password">

  <label for="POST-name">Role:</label>
  <input id="POST-name" type="text" name="state">
  <input type="submit" value="Save">


</form></body>
</html>